<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Trips</title>
</head>

<body>
  <%- include('../partials/nav.ejs') %>
  <h1><%= user.username %>'s Trips</h1>
  <a href="/user/<%= user._id %>/trips/new">Create a New Trip</a>
  <div>
    <% plannedTrips.forEach((trip) => { %>
    <li>
      <a href="/user/<%= user._id %>/trips/<%= trip._id %>">Trip</a>
      <span><%= trip.startDate %></span> to <span><%= trip.endDate %></span> @ <span><a href="/parks/<%= trip.park._id %>"><%= trip.park.name %></a></span><span> Cost: $<%= trip.cost %>.00</span>
    </li>
    <% }) %>
  </div>
</body>

</html>