<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/parkstyles.css" />
  <title>All National Parks</title>
</head>

<body>
  <%- include('../partials/nav.ejs') %>
  <h1>All National Parks</h1>
  <div>
    <ul>
      <% parks.forEach((park) => { %>
      <li>
        <a href="/parks/<%= park._id %>"><%= park.name %></a>
        <div class="parkDetails"><span>Designation: <%= park.designation %></span><span> - States: <%= park.states %></span><span>  - Cost: $ <%= park.entranceFee %></span></div>
      </li>
      <% }) %>
    </ul>
  </div>
</body>

</html>